* {
  box-sizing: border-box;
}

body {
  font-family: Verdana;
  font-size: 15px;
  background-color: #bcbcbc;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

section {
  position: relative;
}

/* Team Styling */
.home {
  color: #fdba00;
}

.away {
  color: #137bc5;
}

/* Start Nav Bar */
.hamburger {
  display: none;
}
.nav-bar {
  display: flex;
  width: 100vw;
  height: 66px;
  z-index: 1;
  background-color: #2d363a;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.fanduel-logo {
  max-width: 140px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-menu-left {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  color: white;
}

.nav-link-container {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
}
.nav-link-container:hover {
  background-color: #4f5a61;
  cursor: pointer;
}

.nav-link-container:active {
  background-color: #4f5a61;
}

.nav-link {
  border-left: 1px solid #f2f2f2;
  padding-left: 22px;
  padding-right: 22px;
}
.nav-link-last {
  padding-left: 22px;
  padding-right: 22px;
  border-right: 1px solid #f2f2f2;
}

.nav-menu-right {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  color: white;
  margin-right: 10px;
}

.balance-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 22px;
  padding-right: 10px;
}

.remaining-balance {
  font-size: 0.72em;
}

.bold {
  font-weight: bold;
}
.btn-add-funds {
  display: flex;
  width: 72px;
  height: 22px;
  align-items: center;
  justify-content: center;
  background-color: #6ea73d;
  color: white;
  border-radius: 2px;
  font-size: 10px;
}
/* End Nav Bar */

/* Start Flyout */
.flyout {
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  top: 0px;
  width: 50%;
  left: 50%;
  background-color: #2d363a;
  z-index: 10;
  color: white;
}

.flyout-header {
  display: flex;
  height: 68px;
  width: 100%;
  justify-content: flex-end;
  padding-right: 30px;
  align-items: center;
  background-color: #313b3f;
  color: white;
  font-size: 30px;
  z-index: 11;
}

.full {
  width: 100%;
}

.flyout-body {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Main Body */

.main-body {
  display: flex;
  width: 100%;
  height: 820px;
  justify-content: center;
  margin-top: 10px;
}

.main-body-left {
  display: flex;
  width: 58%;
  margin-right: 5px;
  flex-direction: column;
  justify-content: space-between;
}

.main-body-left-row {
  display: flex;
  width: 100%;
  height: 402.5px;
}

.scorecard {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.live-score {
  display: flex;
  height: 110px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.team-box {
  display: flex;
  width: 40%;
  height: 55px;
  justify-content: space-evenly;
  flex-direction: row;
}

.home-team {
  display: flex;
  flex-direction: row;
}

.home-team-name {
  display: flex;
  width: 55%;
  flex-direction: column;
  justify-content: center;
}

.score {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.away-team {
  display: flex;
  flex-direction: row-reverse;
}

.away-team-name {
  display: flex;
  width: 55%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.game-clock {
  display: flex;
  width: 20%;
  height: 55px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
  font-size: 12px;
}

.arena-info {
  display: flex;
  flex-direction: column;
  color: #686868;
}

.game-cast {
  display: flex;
  height: 300px;
  width: 100%;
  flex-direction: column;
}

.game-cast-last-play {
  display: flex;
  width: 100%;
  height: 25px;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-size: 10px;
}

.game-cast-scoreboard {
  display: flex;
  width: 100%;
  height: 268px;
  flex-direction: column;
}

.game-cast-shot-toggle {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.game-cast-shooting-stats {
  display: flex;
  width: 100%;
  height: 228px;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.shooting-stats-column {
  display: flex;
  width: 22%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shooting-stats {
  display: flex;
  width: 45%;
  height: 75px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #686868;
  font-size: 15px;
}
.stat {
  font-size: 18px;
}

.shooting-stats-border {
  border-bottom: 1px solid #bcbcbc;
}

.shotchart {
  max-width: 52%;
  height: auto;
}
.game-info-column {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;

  background-color: white;
}

.play-by-play {
  display: flex;
  margin-right: 5px;
}

.header {
  display: flex;
  width: 100%;
  height: 37px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.recent-play {
  display: flex;
  width: 100%;
  height: 68px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #bcbcbc;
}

.recent-play-player-img {
  max-width: 60px;
  height: 55px;
  margin-left: 5px;
  margin-right: 5px;
}

.recent-play-column {
  display: flex;
  width: 85%;
  height: 55px;
  flex-direction: row;
  justify-content: space-between;
}
.recent-play-time {
  color: #686868;
}

.recent-play-score {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: 300; */
  font-size: 10px;
  margin-right: 10px;
}

.recent-play-description {
  display: flex;
  width: 77%;
  height: 55px;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 10px;
}

.stats {
  display: flex;
  margin-left: 5px;
}

.main-body-right {
  display: flex;
  width: 25%;
  flex-direction: column;
  background-color: white;
  margin-left: 5px;
}

.your-games {
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  border-bottom: 1px solid #bcbcbc;
}

.your-games-options {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #686868;
}

.games-options-active {
  color: #6ea73d;
}

/* End Main Body */

/* Start Footer */
footer {
  position: relative;
}
.footer {
  display: flex;
  width: 100%;
  height: 101px;
  flex-direction: column;
}

.league-row {
  display: flex;
  width: 100%;
  height: 26px;
  background-color: #2d363a;
  padding-left: 15px;
}

.league {
  display: flex;
  align-items: center;
  height: 100%;
  width: 150px;
  border-right: 1px solid #686868;
  padding-left: 10px;
  color: #686868;
}

.league:hover {
  background-color: #6ea73d;
  color: white;
}

.league-active {
  background-color: #6ea73d;
  border: none;
  color: white;
  font-weight: 300;
}

.boxscore {
  display: flex;
  width: 100%;
  height: 75px;
  flex-direction: row;
  background-color: #4f5961;
}

.previous-boxscore {
  display: flex;
  width: 15px;
  height: 75px;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  font-size: 12px;
}

.active-boxscore {
  display: flex;
  width: 560px;
  height: 75px;
  flex-direction: column;
  background-color: #616a71;
}

.active-boxscore-row {
  display: flex;
  width: 560px;
  height: 50px;
  flex-direction: row;
  background-color: #616a71;
}

.active-boxscore-column {
  display: flex;
  align-items: center;
  width: 30%;
  height: 50px;
  padding-left: 15px;
  padding-top: 15px;
}

.boxscore-team {
  display: flex;
  height: 50px;
  width: 50%;
  justify-content: flex-start;
  flex-direction: column;
  color: #d4d6d8;
  font-size: 12px;
}
.boxscore-score {
  display: flex;
  height: 50px;
  width: 20%;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  color: #f2f2f2;
  font-size: 12px;
}

.team-column {
  display: flex;
  width: 20%;
  height: 50px;
  justify-content: flex-start;
  color: #f2f2f2;
  font-size: 12px;
}

.top-player {
  display: flex;
  align-items: center;
  width: 35%;
  height: 50px;
  padding-top: 15px;
}

.top-player-column {
  display: flex;
  height: 50px;
  width: 80%;
  justify-content: flex-start;
  flex-direction: column;
  color: #f2f2f2;
  font-size: 12px;
}

.top-player-stats {
  color: #d4d6d8;
  font-size: 10px;
}

.active-boxscore-game-clock {
  padding-left: 15px;
  color: #f2f2f2;
  font-size: 10px;
}

.unactive-boxscore {
  display: flex;
  width: 105px;
  height: 75px;
  flex-direction: column;
  border-right: 1px solid #686868;
  color: #91979b;
  font-size: 12px;
}

.unactive-boxscore:hover {
  background-color: #686868;
  cursor: pointer;
}

.unactive-boxscore-row {
  display: flex;
  width: 105px;
  height: 50px;
  flex-direction: row;
}

.unactive-boxscore-team-column {
  display: flex;
  width: 50%;
  height: 50px;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 20px;
}

.unactive-boxscore-score-column {
  display: flex;
  width: 50%;
  height: 50px;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10px;
  padding-right: 20px;
}

.unactive-boxscore-game-clock {
  font-size: 10px;
  padding-left: 20px;
}

/* End Footer */

/* Media Queries */

@media only screen and (min-width: 1201px) {
  .flyout {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-menu-left,
  .nav-menu-right {
    display: none;
  }
  .nav-bar {
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
    padding-right: 30px;
    justify-content: flex-end;
    color: white;
    font-size: 30px;
  }

  .main-body-left {
    width: 65%;
  }
  .main-body-right {
    width: 30%;
  }
}

@media only screen and (max-width: 1100px) {
  .main-body {
    display: flex;
    width: 100%;
    height: 1215px;
    justify-content: center;
    margin-top: 10px;
  }

  .main-body-left {
    display: flex;
    margin-right: 5px;
    flex-direction: column;
    justify-content: unset;
  }

  .main-body-left-row {
    display: flex;
    width: 100%;
    height: 805px;
    flex-direction: column;
  }

  .game-info-column {
    width: 100%;
    margin-top: 10px;
  }

  .stats {
    margin-top: 10px;
    margin-left: 0px;
  }

  .scorecard {
    height: 410px;
  }
}

@media only screen and (max-width: 975px) {
  .main-body {
    height: 1290px;
    flex-direction: column;
    align-items: center;
  }

  .main-body-left {
    width: 90%;
    margin-right: 0px;
  }

  .main-body-right {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .main-body-left-row {
    display: flex;
    width: 100%;
    height: 805px;
    flex-direction: column;
  }

  .game-info-column {
    width: 100%;
    margin-top: 10px;
  }

  .scorecard {
    height: 410px;
  }

  .active-boxscore,
  .active-boxscore-row {
    display: none;
  }
}

@media only screen and (max-width: 975px) {
  .hamburger {
    padding-right: 30px;
  }

  .flyout {
    width: 60%;
    left: 40%;
  }

  .main-body-left {
    width: 95%;
    margin-right: 0px;
  }

  .main-body-right {
    width: 95%;
  }
}

@media only screen and (max-width: 620px) {
  .hamburger {
    padding-right: 30px;
  }
  .main-body-left {
    width: 97.5%;
    margin-right: 0px;
  }

  .main-body-right {
    width: 97.5%;
    margin-left: 0px;
  }
  .game-clock {
    display: none;
  }

  .team-box {
    width: 50%;
  }

  .home-team-name {
    font-size: 15px;
  }

  .away-team-name {
    font-size: 15px;
  }
}

@media only screen and (max-width: 475px) {
  .home-team-name {
    font-size: 10px;
  }

  .away-team-name {
    font-size: 10px;
  }
}
